<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.jsp.Person" >
        <!-- collaborators and configuration for this bean go here -->
<!--        for getters and setters-->
<!--        <property name="id" value="1"/>-->
<!--        <property name="name" value="Roshni"/>-->

<!--        constructer(recomended)-->

        <constructor-arg name ="name" value="Gariam"/>
        <constructor-arg name ="id" value="1" />





    </bean>


</beans>